<div class="infowindow">
  <p>Un <strong><%= pokemon.name%></strong> rode dans les parages du <%= pokemon.address %>... </p>
  <p>Catch it !</p>
  <p class="text-right"><%= image_tag pokemon.back_default %></p>
</div>
