<div class="poke_create">
   <%= link_to new_pokemon_path, class:"hvr-icon-pulse" do %>
    <%= image_tag 'pokeball.png', class:"pokeball"%>
   <% end %>
</div>
<div class="container">
  <h1 class="text-center">Pokemon Land !</h1>
</div>
<div class="container">
  <div class="wrapper">
    <div class="pokemon_list_container">
      <div class="pokemon_list">
        <% @pokemons.each do |pokemon| %>
          <%= render 'pokemon_card', pokemon: pokemon %>
        <% end %>
      </div>
    </div>
    <div class="map_container" style="margin-top: 1em">
      <div id="map" style="height: 100%;"></div>
    </div>
  </div>
  </div>
<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {

            // Map options
      var mapOptions = {
        backgroundColor: 'white',
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false,

        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_TOP
        },

        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#dde6e8"},{"visibility":"on"}]}]
      }

      handler = Gmaps.build('Google');
      handler.buildMap({provider: mapOptions, internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  </script>
<% end %>


