<div class="poke_create">
   <%= link_to new_pokemon_path, class:"hvr-icon-pulse" do %>
    <%= image_tag 'pokeball.png', class:"pokeball"%>
   <% end %>
</div>
<div class="container">
  <h1 class="text-center">Pokemon Land !</h1>
</div>
<div class="container">
  <div class="wrapper">
    <div class="pokemon_list_container">
      <div class="pokemon_list">
        <% @pokemons.each do |pokemon| %>
          <%= render 'pokemon_card', pokemon: pokemon %>
        <% end %>
      </div>
    </div>
    <div class="map_container" style="margin-top: 1em">
      <div id="map" style="height: 100%;"></div>
    </div>
  </div>
  </div>
<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  </script>
<% end %>


